<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Summarizer</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="title-section">
            <h1>PDF Summarizer</h1>
        </div>
        <div class="content-section">
            <div class="upload-section">
                <form action="/upload" method="post">
                    <p>Add PDF here</p>
                    <input type="text" id="pdf-path" name="pdf-path">
                    <button type="submit" id="upload-button">Upload</button>
                </form>
            </div>
            <div class="summary-section">
                <h2>Summary</h2>
                {% if summary%}
                <div id="summary-text">{{summary}}</div>
                {% else %}
                <div id="summary-text">Your summary will be displayed here.</div>
                {% endif %}

            </div>
        </div>
    </div>
</body>
</html>
